@charset "UTF-8";
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        width: 30%;
        height: 100%;
        float: left;
    }

    /* Aqui colocamos o float para posicionar a imagem na posição desejada.
    Tambem colocamos um width de 30% para que a imagem apareceça nessa porcentagem
    */

    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}
/* PC - Desktop */
@media screen and (min-width: 992px) {
    section#login{
        width: 950px;
    }

    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario{
        float: left;
        width: 50%;
        
    }  
    /* Aqui colocamos o float para posicionar a imagem na posição desejada.
    Tambem colocamos um width de 50% para que a imagem apareceça nessa porcentagem e 50% do formulario.
    */

    div#formulario > h1{
    font-size: 2.0em;
    }

    div#formulario > p{
    font-size: 1.2em;
    }
}