@charset "UTF-8";

/* Paleta de Cores do Projeto

#0D1B2A - Azul-Ciano Escuro
#778DA9 - Azul-Ciano Claro
#E0E1DD - Branco-Chinês

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */

:root{
    --cor01: #0D1B2A;
    --cor02: #778DA9;
    --cor03: #E0E1DD;

    --font-padrão: "Montserrat", sans-serif;
}

*{
    font-family: var(--font-padrão);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-image: linear-gradient( to right, #0D1B2A, #778DA9);
    height: 100vh;
    width: 100vw;
}

main{
   
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#login{

    overflow: hidden;

    background-color: #E0E1DD;
    width: 280px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.445);

    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    /* Aqui utilizamos essas configuarações de transition para deixar mais animado a transição de uma tela para outra */

}

section#login > div#imagem{
    display: block;
    background: #0D1B2A url(../imagens/tela-login.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

    height: 200px;

}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
}

div#formulario > p{
    font-size: 0.8em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.350);
}

form > div.campo{
    height: 30px;
    margin: 5px 0px;
    

}

div.campo > span{
    font-size: 2em;
}

div.campo > input{
    height: 90%;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.61);
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor02);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]:hover{
    background-color: var(--cor01);
    cursor: pointer;
    transition-duration: 0.3s;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #5f7086;
    border: none;
    border-radius: 5px;
    text-decoration: none;

    padding-top: 5px;
    margin-top: 5px;

    color: white;
}

form > a.botao:hover{
    background-color: var(--cor01);
    color: white;
    transition-duration: 0.3s;
}